{
  "name": "{{ name }}",
  "version": "1.0.0",
  "description": "",
  "main": "",
  "scripts": {{{ scripts }}},
  "keywords": [
    "directus",
    "directus-extension",
    "directus-custom-{{ type }}"
  ],
  "author": "",
  "license": "GPL-3.0",
  "dependencies": {{{ dependencies }}}
}
